header {
  padding: 30px;
  background: #011627;
  height: 120px;
}

.sidenav {
  width: 45%;
  background: #fff;
  border: 1px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  height: 96vh;
  top: 4em;
  padding: 0 30px;
  right: -100%;
  transition: all 0.65s ease-in-out;
}

label,
p {
  font-size: 0.9rem;
}

.sidenav.active {
  right: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 15px;
  display: block;
}

.taskComplete {
  padding: 0.5em 1em;
  font-size: 1rem;
}

.full {
  width: 100%;
  margin: 0;
  padding: 0;
}

.radius {
  border-radius: 30px;
}

.fas-icon {
  width: 1.7rem;
  margin-right: 1em;
}

.f-dark {
  color: #000;
}

.pointer {
  cursor: pointer;
}

.subtask {
  padding: 0.199999em 1em;
  font-size: 14px;
}

.resize-0 {
  resize: none;
}

.prio {
  background-color: #fff;
  padding: 0 0.4em;
  border: none;
  font-size: 0.9rem;
  margin-left: 1.3em;
  color: #000;
}

.prio:hover {
  background-color: #dc3545;
  color: #fff;
}

.option {
  background-color: #dc3545;
  border: none;
  font-size: 0.9rem;
  padding: 0.3em 0.5em;
}
