.profile-image{
    border: 3px solid #6c757d;;
    background-color: #6c757d;;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
}
 
.edit-modal{
    height: fit-content;
    width: fit-content;
}

.settings-icon{
    height: 10px;
    width: 10px;
    margin: 0 5px 0 0;
}

.profile-image:hover{
    filter: brightness(90%);
    border-color: #DC3545;
}

.hover-me:hover{
    box-shadow: #6c757d;
    cursor: pointer;
}

.nav-text{
    color: white !important;
}

.notes-text{
    border-width: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}



